@model FirstProjectMarketing.Models.Firsthome

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}


<!-- Icons font CSS-->
<link href="~/assetsCreatePage/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
<link href="~/assetsCreatePage/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
<!-- Font special for pages-->
<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<!-- Vendor CSS-->
<link href="~/assetsCreatePage/vendor/select2/select2.min.css" rel="stylesheet" media="all">
<link href="~/assetsCreatePage/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

<!-- Main CSS-->
<link href="~/assetsCreatePage/css/main.css" rel="stylesheet" media="all">
<link href="~/css/site.css" rel="stylesheet" />

<div class="page-wrapper p-b-100 font-poppins">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <h2 class="card-header" style="text-align:center; background-color:#5350a2ad; margin:-1px; color:whitesmoke">Edit</h2>
            <div class="card-body">
                <form asp-action="Edit" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />

                    <div class="row row-space">
                        <div class="col-12">
                            <div class="input-group">
                                <label asp-for="Projectname" class="label">Project Name</label>
                                <input asp-for="Projectname" class="input--style-4" required />
                                <span asp-validation-for="Projectname" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-12">
                            <div class="input-group">
                                <label asp-for="Discription" class="label">Discription</label>
                                <input asp-for="Discription" class="input--style-4" required />
                                <span asp-validation-for="Discription" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-4">
                            <div class="input-group">
                                <div class="rs-select2 js-select-simple select--no-search">
                                    <img class="rounded-circle" width="150px" height="150px" src="~/Images/imgHome/@Model.Logo" alt="No Image Found" />
                                    <label style="display: block;margin-left: 95px;margin-top: -30px;">
                                        <i class="fa fa-2x fa-edit" style="cursor:pointer;color:indigo"></i>
                                        <input class="btn--blue rounded-circle" style="display:none" asp-for="imgfile">
                                        <span asp-validation-for="imgfile" class="text-danger"></span>
                                    </label>
                                    <input class="input--style-4" type="text" style="display:none" asp-for="@Model.Logo" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-t-15" style="text-align:center">
                        <input class="btn btn-outline-primary col-4" type="submit" style="border-radius:25px!important" />
                    </div>
                    <div class="p-t-15">
                        <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<!-- Jquery JS-->
<script src="~/assetsCreatePage/vendor/jquery/jquery.min.js"></script>
<!-- Vendor JS-->
<script src="~/assetsCreatePage/vendor/select2/select2.min.js"></script>
<script src="~/assetsCreatePage/vendor/datepicker/moment.min.js"></script>
<script src="~/assetsCreatePage/vendor/datepicker/daterangepicker.js"></script>


