@model FirstProjectMarketing.Models.Firstcontactu

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<!-- Icons font CSS-->
<link href="~/assetsCreatePage/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
<link href="~/assetsCreatePage/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
<!-- Font special for pages-->
<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<!-- Vendor CSS-->
<link href="~/assetsCreatePage/vendor/select2/select2.min.css" rel="stylesheet" media="all">
<link href="~/assetsCreatePage/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

<!-- Main CSS-->
<link href="~/assetsCreatePage/css/main.css" rel="stylesheet" media="all">
<link href="~/css/site.css" rel="stylesheet" />

<div class="page-wrapper p-b-100 font-poppins">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <h2 class="card-header" style="text-align:center; background-color:#5350a2ad; margin:-1px; color:whitesmoke">Delete</h2>
            <div class="card-body">
                <form asp-action="Delete">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />

                    <div class="row row-space">
                        <div class="col-6">
                            <div class="input-group">
                                <label asp-for="Firstname" class="label">First name</label>
                                <input asp-for="Firstname" class="input--style-4" readonly="readonly" />
                                <span asp-validation-for="Firstname" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group">
                                <label asp-for="Lastname" class="label">Last name</label>
                                <input asp-for="Lastname" class="input--style-4" readonly="readonly" />
                                <span asp-validation-for="Lastname" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-12">
                            <div class="input-group">
                                <label asp-for="Email" class="label">Email</label>
                                <input asp-for="Email" class="input--style-4" readonly="readonly" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-12">
                            <div class="input-group">
                                <label asp-for="Phone" class="label">Phone</label>
                                <input asp-for="Phone" class="input--style-4" readonly="readonly" />
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row row-space">
                        <div class="col-12">
                            <div class="input-group">
                                <label asp-for="Message" class="label">Message</label>
                                <textarea asp-for="Message" style="width:100%" class="input--style-4" readonly="readonly"></textarea>
                                <span asp-validation-for="Message" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="p-t-15" style="text-align:center">
                        <input class="btn btn-outline-primary col-4" type="submit" style="border-radius:25px!important" />
                    </div>
                    <div class="p-t-15">
                        <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


<!-- Jquery JS-->
<script src="~/assetsCreatePage/vendor/jquery/jquery.min.js"></script>
<!-- Vendor JS-->
<script src="~/assetsCreatePage/vendor/select2/select2.min.js"></script>
<script src="~/assetsCreatePage/vendor/datepicker/moment.min.js"></script>
<script src="~/assetsCreatePage/vendor/datepicker/daterangepicker.js"></script>