@model FirstProjectMarketing.Models.Firstproduct

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";

}


<!-- Icons font CSS-->
<link href="~/assetsCreatePage/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
<link href="~/assetsCreatePage/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
<!-- Font special for pages-->
<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<!-- Vendor CSS-->
<link href="~/assetsCreatePage/vendor/select2/select2.min.css" rel="stylesheet" media="all">
<link href="~/assetsCreatePage/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

<!-- Main CSS-->
<link href="~/assetsCreatePage/css/main.css" rel="stylesheet" media="all">
<link href="~/css/site.css" rel="stylesheet" />

<div class="page-wrapper p-b-100 font-poppins">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <h2 class="card-header" style="text-align:center; background-color:#5350a2ad; margin:-1px; color:whitesmoke">Product Information</h2>
            <div class="card-body">
                <input type="hidden" asp-for="ProductId" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row row-space">
                    <div class="col-6">
                        <div class="input-group">
                            <label class="label" asp-for="ProductName">Name</label>
                            <input class="input--style-4" type="text" asp-for="ProductName" readonly="readonly">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="input-group">
                            <label class="label" asp-for="ProductDicription">Dicription</label>
                            <input class="input--style-4" type="text" asp-for="ProductDicription" readonly="readonly">
                        </div>
                    </div>
                </div>
                <div class="row row-space">
                    <div class="col-4">
                        <div class="input-group">
                            <label class="label" asp-for="ProductPrice">Price</label>
                            <input class="input--style-4" type="text" asp-for="ProductPrice" readonly="readonly">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <label class="label" asp-for="ProductWholesaleprice">Wholesale</label>
                            <input class="input--style-4" type="text" asp-for="ProductWholesaleprice" readonly="readonly">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <label class="label" asp-for="ProductQuantity">Quantity</label>
                            <input class="input--style-4" type="text" asp-for="ProductQuantity" readonly="readonly">
                        </div>
                    </div>

                </div>

                <div class="row row-space">
                    <div class="col-4">
                        <div class="input-group">
                            <div class="rs-select2 js-select-simple select--no-search">
                                <img class="rounded-circle" width="150px" height="150px" src="~/Images/imgProduct/@Model.ProductImage1" alt="No Image Found" />
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <div class="rs-select2 js-select-simple select--no-search">
                                <img class="rounded-circle" width="150px" height="150px" src="~/Images/imgProduct/@Model.ProductImage2" alt="No Image Found" />
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <div class="rs-select2 js-select-simple select--no-search">
                                <img class="rounded-circle" width="150px" height="150px" src="~/Images/imgProduct/@Model.ProductImage3" alt="No Image Found" />
                            </div>
                        </div>
                    </div>

                </div>



                <div class="row row-space">
                    <div class="col-8">
                        <div class="input-group">
                            <label class="label" asp-for="Catigory.CatigoryName"></label>
                            <input class="input--style-4" type="text" asp-for="Catigory.CatigoryName" readonly="readonly">
                        </div>
                    </div>
                </div>

                <div class="p-t-15">
                    <a asp-action="Index" type="button" class="btn btn-outline-primary">Back to list</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Jquery JS-->
<script src="~/assetsCreatePage/vendor/jquery/jquery.min.js"></script>
<!-- Vendor JS-->
<script src="~/assetsCreatePage/vendor/select2/select2.min.js"></script>
<script src="~/assetsCreatePage/vendor/datepicker/moment.min.js"></script>
<script src="~/assetsCreatePage/vendor/datepicker/daterangepicker.js"></script>
